
.main-modules {
    font-size: 20pt;
}

.module {
    color: blue;
}

.module-text {
    font-size: 12pt;
}

#uol-image {
    height: 300px;
    float: right;
    margin: 10px 10px 10px 10px;
}

.read-more-txt {
    background-color: lightgrey;
}
