* {
    font-family: "Segoe UI",Arial,sans-serif;
}

body {
    background-color: lightgrey;
    margin-right: 30px;
}

#topbar {
    height: 90px;
}

#sidenav {
    height: auto;
    width: 300px;
    float: left;
    background-color: transparent;
    overflow-y: scroll;
}

#sidenav > h2 {
    margin-bottom: 5px;
    margin-top: 0px;
}

#sidenav a {
    text-decoration: none;
}
#sidenav a:hover {
    background-color: darkgrey;
}

#sidenav a:visited {
    text-decoration: none;
    color: black;
}

.main-modules {
    margin-left: 320px;
    font-size: 20pt;
    color: blue;
}

.module {    
    margin-top: 20px;
    border-bottom: 1px solid blue;
}

.module-text {
    color: black;
    font-size: 12pt;
}

#uol-image {
    height: 300px;
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

ul li {
    list-style-type: square;
}

#copyright {
    color: red;
    font-size: 10pt;
    border-top: 1px solid red;
    padding-top: 10px;
}

.back-to-top {
    font-size: 8pt;
    margin-top: 15px;
}
